.media-details-container {
  color: white;
  padding: 80px 20px 40px 20px;
}

.back-btn {
  background: none;
  border: none;
  color: #e50914;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.media-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.line {
  border: 0;
  height: 1px;
  background: #555;
  margin-bottom: 15px;
}

.wishlist-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin: 15px 0;
  cursor: pointer;
}

.trailer {
  width: 95%;
  height: 800px;
  margin-top: 20px;
  border-radius: 8px;
}
